@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
    --max-weigh: 1080px;
    --background-nav: #86898f;
    --font-gold: #9D8665;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f1f1f1;
    color: #0f141e;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color: darkslategrey;
}

header {
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
}

.container {
    max-width: var(--max-weigh);
    margin: 0 auto;
}

.avatar {
    width: 250px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.nav {
    padding: 30px;
    background-color: var(--background-nav);
}

.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-text {
    /*margin-left: 40px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info-text h1 {
    font-size: 28px;
    font-weight: 500;
}